test/GradeBook.test/bin/Debug/netcoreapp3.0/GradeBook.dll
test/GradeBook.test/bin/Debug/netcoreapp3.0/GradeBook.pdb
test/GradeBook.test/bin/Debug/netcoreapp3.0/GradeBook.dll
test/GradeBook.test/bin/Debug/netcoreapp3.0/GradeBook.pdb
test/GradeBook.test/obj/Debug/netcoreapp3.0/GradeBook.test.assets.cache
test/GradeBook.test/obj/Debug/netcoreapp3.0/Gradebook.test.csprojAssemblyReference.cache
test/GradeBook.test/bin/Debug/netcoreapp3.0/GradeBook.dll
test/GradeBook.test/bin/Debug/netcoreapp3.0/GradeBook.pdb
test/GradeBook.test/obj/Debug/netcoreapp3.0/GradeBook.test.assets.cache
test/GradeBook.test/obj/Debug/netcoreapp3.0/Gradebook.test.csprojAssemblyReference.cache
src/GradeBook/obj/gradebook.csproj.nuget.cache
src/GradeBook/obj/GradeBook.csproj.nuget.dgspec.json
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.assets.cache
src/GradeBook/obj/Debug/netcoreapp3.0/Gradebook.csprojAssemblyReference.cache
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.dll
src/GradeBook/obj/Debug/netcoreapp3.0/gradebook.exe
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.pdb
src/GradeBook/obj/gradebook.csproj.nuget.cache
src/GradeBook/obj/GradeBook.csproj.nuget.dgspec.json
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.assets.cache
src/GradeBook/obj/Debug/netcoreapp3.0/Gradebook.csprojAssemblyReference.cache
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.dll
src/GradeBook/obj/Debug/netcoreapp3.0/gradebook.exe
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.pdb
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.deps.json
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.dll
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.exe
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.pdb
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.deps.json
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.dll
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.exe
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.pdb
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.dll
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.pdb
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.AssemblyInfo.cs
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.AssemblyInfoInputs.cache
src/GradeBook/obj/Debug/netcoreapp3.0/Gradebook.csprojAssemblyReference.cache
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.dll
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.pdb
test/GradeBook.test/bin/Debug/netcoreapp3.0/GradeBook.dll
test/GradeBook.test/bin/Debug/netcoreapp3.0/GradeBook.pdb
test/GradeBook.test/bin/Debug/netcoreapp3.0/GradeBook.test.dll
test/GradeBook.test/bin/Debug/netcoreapp3.0/GradeBook.test.pdb
test/GradeBook.test/obj/Debug/netcoreapp3.0/GradeBook.test.assets.cache
test/GradeBook.test/obj/Debug/netcoreapp3.0/Gradebook.test.csprojAssemblyReference.cache
test/GradeBook.test/obj/Debug/netcoreapp3.0/GradeBook.test.dll
test/GradeBook.test/obj/Debug/netcoreapp3.0/GradeBook.test.pdb
test/GradeBook.test/obj/Debug/netcoreapp3.0/GradeBook.test.assets.cache
test/GradeBook.test/obj/Debug/netcoreapp3.0/Gradebook.test.csprojAssemblyReference.cache
test/GradeBook.test/obj/Debug/netcoreapp3.0/GradeBook.test.dll
test/GradeBook.test/obj/Debug/netcoreapp3.0/GradeBook.test.pdb
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.dll
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.pdb
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.AssemblyInfo.cs
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.AssemblyInfoInputs.cache
src/GradeBook/obj/Debug/netcoreapp3.0/Gradebook.csprojAssemblyReference.cache
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.dll
src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.pdb
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.dll
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.pdb
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.deps.json
src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.exe
